@import url("https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@600&display=swap");
@font-face {
  font-family: "Digital";
  src: url("../fonts/Seven\ Segment.ttf");
}
/* Variables */
:root {
  --gris-oscuro: #2d2d2d;
  --claro: #eff0fa;
  --lavender-blue: #bbbdf6;
  --blue-bell: #9893da;
  --rhithm: #797a9e;
  --sonic-silver: #72727e;
  --granite-gray: #625f63;
  --verde-acierto: #538d4e;
  --amarillo-casi: #b59f3a;
}

* {
  color: #625f63;
  font-family: "Open Sans", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--lavender-blue);
}

h1,
h2,
h3 {
  font-family: "Lora", serif;
}

.juego-container {
  height: 98vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.titulo-container {
  text-align: center;
  width: 100%;
  max-width: 510px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--rhithm);
}
.titulo-container h1 {
  margin: 10px;
}

.titulo-container nav ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
}

.titulo-container nav ul li {
  padding: 5px 10px;
  cursor: pointer;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
}

nav ul li:hover {
  background-color: var(--claro);
  padding: 5px 10px;
  border-radius: 4px;
}

.jugador-container {
  min-height: 145px;
  text-align: center;
}

#contador {
  font-family: "Digital", sans-serif;
  font-size: 38px;
  font-weight: 500;
  margin: 5px;
}

.mensaje-container {
  height: 130px;
  padding: 10px;
}

.mensaje-container p {
  background-color: var(--claro);
  border-radius: 10px;
  padding: 10px;
  margin: 0;
}

.caja-container {
  max-width: 330px;
  margin-bottom: 30px;
}

.caja-container div {
  display: flex;
}

.caja-container .caja {
  width: 62px;
  height: 62px;
  border: 2px solid var(--rhithm);
  border-radius: 3px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2px;
  font-size: 28px;
}

@media only screen and (max-width: 340px) and (min-width: 5px) {
  .caja-container .caja {
    width: 48px;
    height: 48px;
    font-size: 20px;
  }
  #ENTER {
    width: 10%;
    min-width: 42px;
    font-size: 0.6em;
  }
}

.teclado-container {
  width: 100%;
  max-width: 510px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.teclado-container button {
  cursor: pointer;
  max-width: 43px;
  width: 8%;
  height: 48px;
  border-radius: 4px;
  border: 1px solid var(--rhithm);
  margin: 3px;
}

.teclado-container button:nth-child(21) {
  width: 15%;
  max-width: 68px;
  font-size: 0.7rem;
}

.teclado-container button:nth-child(29) {
  width: 12%;
  max-width: 68px;
}

.caja.girar {
  animation: 0.5s linear giro;
}

@keyframes giro {
  0% {
    transform: rotateX(0deg);
  }
  50% {
    transform: rotateX(90deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

.resaltado-gris {
  background-color: var(--sonic-silver) !important;
  color: var(--claro) !important;
  border: none !important;
}
.resaltado-amarillo {
  background-color: var(--amarillo-casi) !important;
  color: var(--claro) !important;
  border: none !important;
}
.resaltado-verde {
  background-color: var(--verde-acierto) !important;
  color: var(--claro) !important;
  border: none !important;
}

.modal-container,
.lista-container {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.7);
}

.lista-container .lista-juegos p {
  color: var(--claro);
  margin: 5px 10px 5px;
  text-align: center;
}

.lista-juegos p:hover {
  color: var(--lavender-blue);
  cursor: pointer;
}

.lista-juegos span {
  color: var(--claro);
  font-family: "Courier New", Courier, monospace;
}

.modal-container .modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  max-width: 360px;
  min-height: 400px;
  background-color: var(--granite-gray);
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--gris-oscuro);
}

.modal button {
  padding: 5px 10px;
  margin-bottom: 10px;
  cursor: pointer;
}

.bienvenida,
.registro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.bienvenida h2 {
  color: var(--claro);
}

.bienvenida p {
  padding: 20px;
  width: 80%;
  margin: 0 auto;
  color: var(--lavender-blue);
  font-family: Lora;
  text-align: justify;
  align-self: flex-start;
}

.registro label,
.registro button {
  margin: 20px;
}

.registro label,
form label {
  font-size: 1.2rem;
  color: var(--claro);
}

.registro input,
form input,
form textarea {
  padding: 10px;
  text-align: center;
  font-size: 1rem;
  border-radius: 3px;
  border: 3px solid var(--lavender-blue);
  background-color: var(--claro);
}

.formulario {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 98vh;
}

.formulario form,
.lista-juegos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  background-color: var(--rhithm);
  padding: 20px 10px;
  border-radius: 5px;
  box-shadow: 0px 2px 5px var(--gris-oscuro);
}

.formulario form .from-block {
  color: var(--claro);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formulario form label {
  display: block;
  text-align: center;
  color: var(--claro);
}

form textarea {
  width: 220px;
  height: 110px;
}

.form-block {
  padding: 10px;
}
